body {
  margin: 0;
}
#container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sub_title {
  font-size: 1rem;
  font-weight: 600;
  margin: 10px;
}
.box {
  width: 90%;
  height: 20rem;
  margin: 1rem auto;
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  background-color: white;
  box-shadow: 1px 1px 3px rgb(210, 210, 210);
}
